body{
background-size: cover;
background-position: center;
}

#canvas{
width: 400px;
height: 400;
border: 2px solid black;
}
.footer{
margin-bottom: 0px;
background-color: gray;
text-align: center;
padding: 10px;
color: white;
}